<html>
  <header>
    <div class='hero-unit'>
      <h1>Jayne's Site</h1>
        <p>Welcome to my site. Learn more about me and see this sample blog here.</p>
          <p>
            <a class='btn btn-primary btn-large'>Read Posts</a>
          </p>  
    </div>
  </header>

<br/>
<br/>
<div class='row'>
  <div class='span3 offset2'><img src='http://placehold.it/400x400' class='img-circle' alt=''><h2>Sample Text</h2></div>
  <div class='span3 offset5'><img src='http://placehold.it/400x400' class='img-circle' alt=''><h2>Sample Text</h2></div>
</div>
<br/>
<br/>
  <p class='text-center'>
  <ul class='thumbnails'>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Editing</h3>
      <p>See editing information here...</p>
     </div>
   </li>
   <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  </ul>
  </p>

  
</html>
  
