// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #9a9a9a;
}

h1 {
    @include title-font;
}

#post {
     width: 700px;
     margin: 10px;
     padding: 10px;
     background-color: #ffffff;

    p {
     @include text-font;
    }

    a:link {
      color: #e64369;
      text-decoration:none;
    }

    a:hover {
      color: #e64369;
      text-decoration:none;
    }
}

h2.post-title {
     @include title-font;
     font-family: 'Arial', serif; 
    }

p.post-date {
      font-size: 80%;
      border-bottom: 1px solid #d6d6d6;
    }

p.post-text {
    border-bottom: 2px dotted #959595;
    padding-bottom: 40px;
}    
  
#comments {
	margin: 20px;

	h2 {
	 @include title-font;
     font-weight: bold;
	}
}

#individual_comment {
	width: 550px;
	background-color: #c3f0f0;
	padding-left: 10px;
}