// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: $bg-color;
}

h1 {
    @include title-font;
}

#post {
     width: 950px;
     border-radius: 5px;
     border: 2px solid #2155d9;
     margin: 10px;
     padding: 10px;
    
    h2 {
     @include title-font;
     border-bottom: 2px dotted #959595; 
    } 

    p {
     @include text-font;
    }

    a:link {
      color: $text-color;
      text-decoration:none;
    }

    a:hover {
      color: #1d59fb;
      text-decoration:none;
    }
}

#comments {
	margin: 20px;

	h2 {
	 @include title-font;
     font-weight: bold;
	}
}

#individual_comment {
	width: 850px;
	background-color: #c3f0f0;
	padding-left: 10px;
}